@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@media screen and (max-width:600px){
    .logo img{width: 50% !important;}
    #para{font-size: 14px!important }
    .banner-text{margin-left: 0px !important;}

    .cont-2{
        width: 100% !important;
        margin: auto !important;
    }
    .row-second{
        width: 100% !important;
        /* margin: 0px 10px !important */
    }
    .section-2 #hoverImage{
        width: 100% !important;
        height: 200px !important;
    }
    .bg-img
{
    width: 100%;
    height:80vh !important;
    background-image: url(./images/bg.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.411);
}
.bg-text{
    width:80% !important;
    height: auto;
   display: flex !important;
   align-items: center!important;
   justify-content: center !important;
    /* position: absolute; */
    flex-direction: column !important;
    /* bottom: 0;
    right: 0; */
}
.bg-text span{
    font-size:2.3rem !important;
    color:#caffc4;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
  
}
.bg-text p{
    font-family: 'Lato',sans-serif;
    font-size: 14px !important;
    margin: 15px 0px !important;
    margin-bottom: 4px !important;
    color: #caffc4;
}


}

@media screen and (max-width:770px){
    .section-2 #hoverImage{
        width: 50% !important;
        height: 200px !important;
    }

    .logo img{width: 40% !important;}
    #para{font-size: 14px!important }
    .banner-text{margin-left: 0px !important;}
    .container-fluid{ 
        background-blend-mode:full dark;
        height: 90vh !important;
        background: rgba(0, 0, 0, 0.411) url(./images/bg2.jpg);
     }
     #Organio{ color: #caffc4 !important; font-size: 50px !important;
     }
     .header{
        justify-content: center !important;
     }
     #h2-1{color:white !important; font-size: 20px}
      #para
     {color:white !important;}
     .nav-items{position: relative !important; width: 50% !important;}
        .nav-in-items{
            width: 100% !important;
        }
        .products1{
         margin: 25px 0px !important;
         width: 80% !important;
        }
     .hey{display: none !important; position: absolute !important;}
     .fa{width: 100% !important; padding: 0px 6px !important;}

     #ph2 , #ph{
        width: 70% !important;
    }
    }
@media screen and (max-width:500px){
    .logo img{width: 75% !important;}
    .container-fluid{
        height: 100vh !important;
    }
    .bg-img
    {
        width: 100%;
        height:80vh !important;
        background-image: url(./images/bg.jpg);
        background-repeat: none;
        background-position: center;
        background-size: cover;
        /* position: relative; */
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background-blend-mode: darken;
        background: rgba(0, 0, 0, 0.411);
    }
    .bg-text{
        width:80% !important;
        height: 500px !important;
       display: flex !important;
       align-items: center!important;
       justify-content: center !important;
        /* position: absolute; */
        flex-direction: column !important;
        /* bottom: 0;
        right: 0; */
    }
    .bg-text span{
        font-size:2.3rem !important;
        color:#caffc4;
        font-weight: 700;
        font-family: 'Dancing Script', cursive;
      
    }
    .bg-text p{
        font-family: 'Lato',sans-serif;
        font-size: 14px !important;
        margin: 15px 0px !important;
        margin-bottom: 4px !important;
        color: #caffc4;
    }
    
    
    .products1{
        margin: 25px 0px !important;
        width: 90% !important;
       }

}
@media screen and (max-width:402px){
    .container-fluid{ 
        background-blend-mode:darken;
        height: 70vh !important;
        background: rgba(0, 0, 0, 0.411) url(./images/bg2.jpg);
     }
    #Organio{ color: #caffc4 !important; font-size: 30px !important;
    }
    #para{font-size: 11px!important }
    .header{width: 99% !important;}
}
/* :root{
    --color-1: #673ab7;
  } */
  body{
      line-height: 1.5;
      font-family: sans-serif;
      background-color: #17e90015 !important;
      /* height: 180vh; */
      position: relative;
  }
  *{
      box-sizing: border-box;
      margin:0;
      padding:0;
  }
  a{
      text-decoration: none !important;
      transition: all .3 ease-in-out;
      font-family: "Lato", sans-serif !important;
  }
  a:hover{
    color:#070707;
    scale: 1.1;
    transition: all .3 ease-in-out;
  }

  ul{
      list-style: none;

  }
  i{
    cursor: pointer;
  }
  i:hover{
    color: rgb(15, 15, 15);
  }
  /* .hdr{
 position: fixed;
 top: 0;
  } */
  .header{
    width: 100%;
    height: 16.6vh;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 9999999999;
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }
  .dm{position: fixed; 
    width: fit-content;
     height: auto;
     bottom: 30px;
     margin: 0 !important;
     padding: 0 !important;
     right: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .dm i{
        color: white;
        background-color: green;
        border-radius: 50%;
        padding: 10px 17px;
    }
  .header2{
    width: 100%;
    height: 18vh;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }
  .nav-items{
    width: 30%;
    height: 15vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-items:first-child{
    width: 30% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.nav-in-items{
    width: max-content !important;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo, .fa{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 90%;
}
.fa{
    font-size: 30px;
    padding: 0px 10px;
    color: #525252;
}
.tabs{
    font-size: 0.92rem;
    margin: 0px 26px;
    font-weight: 500;
    color: rgb(87, 87, 87);
}
.homeTab{
    color: rgb(0, 0, 0);
}
.nav-in-items img{
    width: 150px;
}
#bag{
    position: relative;
}
.fa-bag-shopping span{
    position: absolute;
    font-size: 8px;
    right: 0px;
    top: 2px;
    color: white;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 3px 6px;
    border-radius: 50%;
    background-color: #525252;
}

.container-fluid{
    margin-top: 60px;
    width: 100%;
    height: 200vh;
    /* background-color: ##18142a; */
    background-image: url(./images/bg2.jpg);
    background-position: 60% !important;
    background-size:cover;
    background-repeat: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.row{
    display: flex;
    width: 100%;
    height: 80%;
    /* border: 1px solid black; */
    /* justify-content: flex-start; */
    align-items: center;
}
.banner-text{
    width: 20%;
    margin-left: 70px;
    height: auto;
    /* border: 1px solid white; */
    /* display: flex;
    flex-direction: column !important; */
}
.banner-text #h2-1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color :#1a1a1a;
}
.banner-text #Organio{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 3.67rem;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(15, 24, 14);
}
.info{
    width: 80%;
    height: auto;
    margin: 15px 0px;

}
.info p{
    color: #1a1a1a;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.banner-text a{
    color: white;
    /* color: #1a1a1a; */
    border: 1px solid green;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    padding: 12px 24px;
    margin-top: 30px !important;
    background-color: green;
    letter-spacing: .2px;
    transition: all .3s ease-in-out;
}
.banner-text a:hover{
    color: green;
    font-weight: 500;
    background-color: white;
}
.container-fluid-2{
    width: 100%;
    height: 190px;
    border: 1px solid black;
}
.container{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
}
.container .row{
    width: 100%;
    height: auto;
    margin: auto;
    /* border: 1px solid green; */
}
.container .row .col{
    /* border: 1px solid black; */
    width: 100%;
    transition: .3s ease-in-out !important; 
}
.sec{
    display: inline-block;
    transition: .3s ease-in-out;
}
.section-2{
    height: auto;
    margin: 20px 0px;
    position: relative;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.section-2 img{
    width: 90%;
    height: 300px;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
}

.onHoverImage{
    display: none;
    cursor: pointer;
    height: 100%;
    background-color: rgba(199, 199, 199, 0.705);
    width: 100%;
    transition: .3s ease-in-out;
    position: absolute;
    top: 0px;
    
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
#h111{
    font-family: 'Lato',sans-serif;
    font-size: 1.5rem;
    /* transform: translate(15%,100%); */
    font-weight: 500;
    margin-top: 10px;
    transition: .3s ease-in-out;
    text-transform: uppercase;

    color: rgb(32, 32, 32);
}
#hoverImage:hover{
    scale: 1.07;
    
}
.product-tag{
    width: 100%;
    height: 140px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-tag #product-h2{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lato',sans-serif;
    text-transform: capitalize;
}
.product-tag #product-info{
    font-size: 16px;
}
.cont-2{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;

}
.row-second{
    width: 100% !important;
    height: auto !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
}
.products1{
    width: 100%;
    padding: 9px 3px;
    animation: blink1 1.5s infinite;
    /* transition: all 2s ease; */
    /* border: 1px solid black; */
    /* border: 1px solid black; */
}
@keyframes blink1{
    0%{box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);}
    50%{box-shadow: 0 0 10px 0 rgba(0, 110, 26, 0.78);}
    100%{box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);}
};
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent 
    !important;
}
.img-shampoo{
    width: 100% !important;
    height: auto;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease !important ;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.img-shampoo img{
    width: 100% !important;
    height: 340px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 10px rgba(0, 0, 0, 0.74);
    text-shadow: 0px 10px 0px rgba(0, 0, 0, 0.74);
}
.img-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: auto;
    color: #1a1a1a !important;
}
.img-info h3{
    font-size   : 200%;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
}
.img-info span{
    font-size: 90%;
    font-family: 'Lato',sans-serif;
    color: black;
    margin-bottom: 10px;
}
.line{
    width: 80%;
    height: 2px;
    border-radius: 50%;
    margin-bottom: 9px;
    background-color: rgba(2, 82, 1, 0.226);
}
#natural{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lato',sans-serif;
    color: #1a1a1a;
}
p, i{
    margin: 0!important;
}
.img-info p{
    width: 100%;
    padding-left: 10%;
    float: left !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    align-self: flex-start!important;
    font-family:'Lato',sans-serif;
}
.img-info h4{
    font-family: 'Lato',sans-serif;
    font-size: 17px;
    
    /* padding-left: 20%; */
    color: #ffffff;
    font-weight: 700 !important;
    padding: 5px 10px;
    border: 1px solid rgb(129, 0, 0);
    background-color: rgba(129, 0, 0, 0.863);
    top: -340px;
    border-radius: 20px 0px 20px 0px;
    left: 5px;
    position: absolute;
    margin: 8px 0px;
    cursor: pointer;
    /* margin: px 0px;
    float: left !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    align-self: flex-start!important; */
}
.cnt{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 10px 0px;
}
.cnt i{
position: absolute;
font-size: 25px;
transition: all 0.3s ease-in-out;
left: 70%;
font-weight: 300;
color: green;
}
.cnt a{
    text-decoration: none !important;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 50px 10px 20px;
    font-weight: 400 !important;
    
transition: all 0.3s ease-in-out;
    color: green;
    border: 1px solid green;
}
.cnt a:hover
{
background-color: green;
color : white !important;
}
.cnt i:hover{
color: white;
}
.cde{
    width: 77%;
    text-align: center;
}
.ingredients{
    margin-top: 20px;
    width: 100%;
    height: auto;
    /* border: 1px solid black */
}
.rw1{
    width: 100%;
    height: auto !important;
    margin: 80px 0px !important;
    /* border: 1px solid rgb(194, 0, 0); */
}
.ingredients .rw1 div{
    /* border: 1px solid black; */
    height: auto;
}
#ph{
    width: 110% ;
    align-self: center !important;

}
#ph2{
    width: 100%;
    align-self: center !important;

}
.rw1-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rw1-1 span{
    font-size: 30px;
font-family: 'Lato',sans-serif;
font-weight: 500}
.line2{
    margin: 27px 0px;
    background-color: #1a1a1a;
    width: 100%;
}
#inf{
    font-size: 19px;
}
.bg-img
{
    width: 100%;
    height:100vh;
    background-image: url(./images/bg.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    position: relative;
}
.bg-text{
    width: 50%;
    height: 300px;
    /* border: 1px solid black; */
    position: absolute;
    bottom: 0;
    right: 0;
}
.bg-text span{
    font-size:280%;
    color:#caffc4;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
  
}
.bg-text p{
    font-family: 'Lato',sans-serif;
    font-size: 17px;
    margin: 15px 0px 30px 0px ;
    margin-bottom: 20px  !important;
    color: #caffc4;
}
#gtintch{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    transition: 0.3s ease;
  padding: 14px 10px;
    font-family: 'Lato',sans-serif;}
    #gtintch:hover{
        color: green;
        background-color: white;
    }

    .ship{
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        border-bottom:2px solid rgba(0, 46, 4, 0.493);
        margin: 40px 0px;
    }
    .ship1{
        width: 50%;
    }
    .ship1 span{
        font-size: 17px;
        font-family: 'Lato',sans-serif;
        font-weight: 600;
        color: #1a1a1a;
    }
    .ship1 h5{
        font-size: 19px;
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        color: #1a1a1a;
    }
    .footer{
        width: 100%;
        height: auto;
        /* border: 1px solid black; */
        background-color: green;
        padding: 30px 0px;
    }
    .footer-cont{
        width: 100%;
        height: auto;
        /* border: 1px solid black; */
    }
    .row-footer{
        width: 100% !important;
        height: auto !important;
        /* border: 1px solid red; */
    }
    .footer-info{
        width: 100%;
        height: 250px;
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    #footer-logo{
        max-width: 170px !important;
        filter: brightness(0) invert(1);
        height: auto;
    }
    #t-i-f{
     font-size: 15px;
        margin: 10px 0px !important;
     color: white;   
    }
    #t-i-f a{
        font-family: 'Lato',sans-serif;
        font-weight: 300;
        color: white !important;
        font-size: 17px;
    }
    .footer-info h2{
        font-size: 17px;
        font-family: 'Lato',sans-serif;
        margin-bottom: 10px;
        font-weight: 500;
        color: white;
    }
    .footer-info a{
        font-family: 'Lato',sans-serif;
        margin: 10px 0px !important;
        font-weight: 300;
        /* text-decoration:underline!important; */
        color: white !important;
        font-size: 17px;
    }

    
